h1,
h2 {
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #333;
}

#paint_buckets {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#paint_buckets {
  width: 600px;
  height: 200px;
}

@media (max-width:767px) {
  #paint_buckets {
    width: 200px;
    height: 100px;
  }
}

.colors-mix {
  padding: 30px;
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 6px;
}

#result {
  height: 200px;
}

#content {
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#random-color-result {
  height: 200px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

